@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 10%, 65% 10%, 65% 0%, 0 0%, 0% 20%);
    border-radius: 30px;
  }
  
  .custom-shape2 {
    clip-path: polygon(100% 100%, 0% 100%, 0% 10%, 35% 10%, 35% 0%, 100% 0%, 100% 20%);
    border-radius: 30px;
  }
  
  .custom-shape3 {
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  }
  

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* Grey thumb color */
    border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* Darker grey when hovered */
}